.footer {
  height: 60px;
  padding: 40px 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: cornsilk;
  border: 1px solid #000;
}

.footer__img {
  max-width: 100px;
}
